
<% include header %>



        <table id="call-table" class="table table-bordered">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Call ID</th>
                    <th>Actor</th>
                    <th>Number</th>
                    <th>Direction</th>
                    <th>Status</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody id="call-history">
                <% for(var i = 0; i < data.length; i++) { %>
                  <tr>
                      <td> <%= i + 1%></td>
                      <td> <%= JSON.parse(data[i]).call_id %></td>
                      <td> <%= JSON.parse(data[i]).actor %></td>
                      <td> <%= JSON.parse(data[i]).their_number %></td>
                      <td> <%= JSON.parse(data[i]).direction %></td>
                      <td> <%= JSON.parse(data[i]).type %></td>
                      <td> <%= JSON.parse(data[i]).timestamp %></td>
                  </tr>
                <% } %>
                </tbody>
              </table>


<% include footer %>